@{
    ViewData["Title"] = "AdminTimeTable";
    ViewData["container"] = "container-fluid my-5";
}
<div class="mt-5 mb-5">
    <h1 class="text-center">Редактор расписания</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <select class="custom-select mb-5" id="Specs" class="form-select" asp-items="@ViewBag.SelectList"></select>
            <div class="container p-5 bg-white rounded box-shadow" id="div_0">
                <select class="custom-select" Id="Months" class="form-select" asp-items="@ViewBag.Months"></select>
                @await Component.InvokeAsync("CalendarSegment","adasd")
            </div>
        </div>
        <div class="col-lg-6">
            <div id="div_1">
            </div>

        </div>
    </div>
</div>

<script>
        $("#Specs").on("change", UpdateCalendar());


        function UpdateCalendar()
        {
            let specSelect =  $("#Specs");
            let mounthSelect = $("#Months");



        }
</script>