@model Service_Schedule.Models.AccountViewModel

@if (Model != null)
{
    <form id="AccountEdit">
        @Html.Hidden("Id", @Model.Id)
        @{
            if (ViewBag.SuccessChangePassword != null && ViewBag.SuccessChangePassword)
            {
                <span class="text-success">Пароль успешно изменен</span>
            }
            if (ViewBag.SuccessChangeData != null && ViewBag.SuccessChangeData)
            {
                <span class="text-success">Данные успешно изменены</span>
            }
        }
        <div id="FormInfo"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="email" class="form-control" placeholder="Email" asp-for="Email">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Name">Имя</label>
                <input asp-for="Name" class="form-control" placeholder="Имя">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Phone"></label>
                <input class="form-control" asp-for="Phone" placeholder="Номер Телефон">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="true" selected>Мужской</option>
                    <option value="false">Женский</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="BirthDate"></label>
                <input type="date" class="form-control" asp-for="BirthDate">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" id="password-input1" asp-for="Password">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" onchange="return show_hide_password(this);" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Показать пароль
                </label>
            </div>
        </div>
    </form>
    <div class="row pt-5">
        <button onclick='DeleteUser()' class="btn btn-danger mr-auto col-3">Удалить</button>
        <button onclick='send_form()' class="btn btn-primary ml-auto col-3">Сохранить</button>
    </div>
}