@model List<Service_Schedule.Models.User>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var user in @Model)
            {
                <tr id="@user.Id" class="user">
                    <th scope="row">@(i++)</th>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        }
    </tbody>
</table>