<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/icon/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container py-3">
        <header>
            <nav class="navbar navbar-expand-md pb-2 fixed-top navbar-dark bg-dark">
                <a class="navbar-brand" asp-action="Index" asp-controller="home">Домашняя сраница</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Записаться</a>
                        </li>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Мои записи</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {

                                    <a  class="btn btn-primary" asp-action="account" asp-controller="Account"><i class="mr-1 bi bi-person-check"></i>Личный Кабинет</a>

                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="login" asp-controller="Account"><i class="mr-1 bi bi-person"></i>Авторизоваться </a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
