@{
    ViewData["Title"] = "Home";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    @{
        if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("GetHelloUser")
        }
        else
        {
            <h1 class="display-4">Привет!!!</h1>
        }
    }
    <h2 class="display-4">@ViewBag.Text</h2>
</div>

<div class="container">
    @await Component.InvokeAsync("DiscriptionServices")

    <h2 class="font-italic">Наши специалисты</h2>

    @await Component.InvokeAsync("InfoAboutSpecs")

</div>