@model List<DayInfoForCalendar>
@{
    if (Model != null && Model.Count != 0)
    {
        var rows = Model.Count / 7;

        <table class="table">
            <thead>
                <tr class="border bg-dark text-white">
                    <th scope="col">ПН</th>
                    <th scope="col">ВТ</th>
                    <th scope="col">СР</th>
                    <th scope="col">ЧТ</th>
                    <th scope="col">ПТ</th>
                    <th scope="col">СБ</th>
                    <th scope="col">ВС</th>
                </tr>
            </thead>
            <tbody class="bg-light">
                @{
                    for (int i = 0; i < rows; i++)
                    {
                        <tr class="font-weight-bold">

                            @foreach (var day in Model.Skip(i * 7).Take(7))
                            {
                                if (day.Type == 1)
                                {
                                    <td class="border bg-success calendar" id="@day.Id">@day.Day</td>
                                }
                                else
                                {
                                    if (day.Day == 0)
                                    {
                                        <td class="border calendar"> </td>
                                    }
                                    else
                                    {
                                        <td class="border calendar">@day.Day</td>
                                    }
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

    }
}